* {
    margin: 0;
    padding: 0;
}

body{
    background-image:
        url(../img/logo_barbearia.png);
    background-position: center 150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #323030;
}


/* INPUT */
.nome{
    position: absolute;
    top: 57%;       /* ↓↓ fica abaixo do botão ↓↓ */
    left: 50.5%;     
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    text-align: center;
}

.email{
    position: absolute;
    top: 63%;       /* ↓↓ fica abaixo do botão ↓↓ */
    left: 50.5%;     
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    text-align: center;
}


/* INPUT */
.senha{
    position: absolute;
    top: 69%;       /* ↓↓ fica abaixo do botão ↓↓ */
    left: 50.5%;     
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    text-align: center;
}

.confsenha{
    position: absolute;
    top: 75%;       /* ↓↓ fica abaixo do botão ↓↓ */
    left: 50.5%;     
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    text-align: center;
}

.tell{
    position: absolute;
    top: 81%;       /* ↓↓ fica abaixo do botão ↓↓ */
    left: 50.5%;     
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    text-align: center;
}

/* BOTÃO */
.cadastro{
    position: absolute;
    top: 88%;         /* ↓↓ desce o botão ↓↓ */
    left: 50.5%;        
    transform: translateX(-50%);  /* CENTRALIZA certinho */
    width: 300px;
    height: 50px;
    background-color: #3C82A5;
    border-radius: 60px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    cursor: pointer;
}


/* ========================= */
/* CELULAR */
/* ========================= */

@media (max-width: 480px){

    body{
        background-size: 250px; /* diminui a logo */
        background-position: center 100px; /* ajusta posição */
        background-attachment: scroll; /* evita bug no mobile */
    }

    .nome,
    .email,
    .senha,
    .confsenha,
    .tell,
    .cadastro{

        width: 90%;
        height: 45px;
        font-size: 17px;

    }

.nome{ 
    top:50%; 
}
.email{ 
    top:57%; 
}
.senha{ 
    top:64%; 
}
.confsenha{ 
    top:71%; 
}
.tell{ 
    top:78%; 
}
.cadastro{ 
    top:86%; 
}

}


/* ========================= */
/* CELULAR PEQUENO */
/* ========================= */

@media (max-width: 360px){

    body{
        background-size: 250px; /* diminui a logo */
        background-position: center 100px; /* ajusta posição */
        background-attachment: scroll; /* evita bug no mobile */
    }

    .nome,
    .email,
    .senha,
    .confsenha,
    .tell,
    .cadastro{

        width: 92%;
        height: 40px;
        font-size: 16px;

    }         

    .nome{ 
        top:52%; 
    }
    .email{ 
        top:59%; 
    }
    .senha{ 
        top:66%; 
    }
    .confsenha{ 
        top:73%; 
    }
    .tell{ 
        top:80%; 
    }
    .cadastro{ 
        top:89%; 
    }

    }
