*{
    margin: 0;
    padding: 0;
}

.oculto {
    display: none;
}


body {
    background-color:#323030 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body::before {
    content: "";
    width: 180px;
    height: 180px;
    background-image: url("../img/logo_barbearia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-top: 30px;
    margin-bottom: -40px;
}

.voltar img {
    position: absolute;
    top: 1%;
    left: 25%;
    width: 50px;
    height: 50px;
}

.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3C82A5;
    margin: 80px;
    height: 100px;
    width: 600px;
    border-radius: 10px;
}


.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red ;
    font-size: 40px;
}

@media (max-width: 768px) {

    .voltar img {
        left: 8%;
        width: 45px;
        height: 45px;
    }

    .fundo {
        width: 85%;
        height: auto;
        padding: 20px;
        margin: 60px auto;
    }

    .texto {
        font-size: 28px;
        padding: 10px;
    }
}

@media (max-width: 480px) {

    .voltar img {
        left: 5%;
        width: 40px;
        height: 40px;
    }

    .fundo {
        margin-top: 100px;
        height: auto;
        padding: 20px;
        width: 85%;
    }

    .texto {
        font-size: 18px;
        padding: 10px;
    }
}